<!DOCTYPE HTML>
<html ng-app="myCalculator">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Calculator using AngularJS</title>
		<link rel="stylesheet" type="text/css" href="assets/calculator.css">
		<script type="text/javascript" src="assets/angular.min.js"></script>
		<script type="text/javascript" src="assets/calculator.js"></script>
	</head>
	<body>

		<div id="myCalculator" ng-controller="CalculatorController">

			<main>
				<section class="inc">
					<div>
						<h4>Incandescant</h4>
						<p>{{inc_wattage}}</p>
						<p>{{inc_finalcost}}</p>
					</div>
				</section>
				<section class="hal">
					<div>
						<h4>Halogen</h4>
						<p>{{hal_wattage}}</p>
						<p>{{hal_finalcost}}</p>
					</div>
				</section>
				<section class="cfl">
					<div>
						<h4>CFL</h4>
						<p>{{cfl_wattage}}</p>
						<p>{{cfl_finalcost}}</p>
					</div>
				</section>
				<section class="led">
					<div>
						<h4>LED</h4>
						<p>{{led_wattage}}</p>
						<p>{{led_finalcost}}</p>
					</div>
				</section>
						

			</main>


			<form>

				<div>
					<h4>Lumens</h4>
					<p>Brightness<br> of bulb</p>

					<!-- pulling options from lumen_options in calculator.js file -->
					<!-- ng-model options takes a loop and populates <options> --> 
					<select ng-change="calculate()" ng-model="current_lumens" ng-options="i as i for i in lumen_options">
						
					</select>
				</div>
				<div>
					<h4>kWh</h4>
					<p>Kilowatt -<br> hour cost</p>
					<!-- pulling options from current_cost in calculator.js file -->
					<input type="number" ng-change="calculate()" ng-model="current_cost" value="{{current_cost}}" /> cents
				</div>
				<div>
					<h4>Hours</h4>
					<p>Usage<br>per day</p>
					<!-- pulling options from current_hours in calculator.js file -->
					<input type="number" ng-change="calculate()" ng-model="current_hours" value="{{current_hours}}" />
				</div>

			</form>

		</div>

	</body>
</html>